body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

[v-cloak] {
    display: none;
}

.people {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    list-style: none;
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
}
