<!DOCTYPE html>
<html>
    <meta>
    </meta>
    <head>
        <title>Vue Test</title>
        <link rel="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
        <div id="app" v-cloak>
            testMe

            
            <p>
                {{ fullName() }}
            </p>

            <label for="name">Name</label>
            <input type="text" v-model="name"/>

            <label for="surname">Surname</label>
            <input type="text" v-model="surname"/>

        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js"></script>
    </body>
</html>