<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="main.css" type="text/css" />

    </head>

    <body> 
        <div id="app" v-cloak>
            <h2>CSS3 Perspective Playground</h2>
            <main>
              <section class="settings">
                <div class="settings-container">
                  <label>perspective: {{perspective}}px;</label>
                  <input type="range" min="0" max="999" v-model="perspective" />
        
                  <label>rotateX: {{rotateX}}deg; </label>
                  <input type="range" min="-180" max="180" v-model="rotateX" />
        
                  <label>rotateY: {{rotateY}}deg; </label>
                  <input type="range" min="-180" max="180" v-model="rotateY" />
        
                  <label>rotateZ: {{rotateZ}}deg; </label>
                  <input type="range" min="-180" max="180" v-model="rotateZ" />
        
                  <button type="button" @click="reset">Reset</button>
                  <button type="button" @click="copy">Copy</button>
                </div>
              </section>
              <section class="output">
                <div class="box-container">
                  <div class="box" :style="box"></div>
                </div>
              </section>
            </main>
    
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js"></script>
    </body>
</html>

