<!DOCTYPE html>
<html>
    <meta>
    </meta>
    <head>
        <title>Vue Test</title>
        <link rel="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
        <div id="app" v-cloak>

            <label for="colorful">Colorful</label>
            <input type="checkbox" id="colorful" v-model="isColorful"/>
            <select v-model="fontColor">
                <option value="">NoColor</option>
                <option v-for="color in colors" :value="color" :key="color">
                    {{ color }}
                </option>
            </select>

            <label> Size </label>
            <input type="number" v-model="size"/>
            
            <div class="sphere"
                :class="[bgClass, updateFontColor]"
                :style="{ 
                    width: size + 'px',
                    height: size + 'px',
                    fontSize: updateFontSize
                }">
            Hi
        </div>

        
        </div>
        
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js"></script>
    </body>
</html>